<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <h2>{{ title }}</h2>
  </div>

  <!-- Resources -->
  <mat-form-field>
    <mat-select  (selectionChange)="selectChangeHandler($event)" placeholder="Star Wars Characters">
      <mat-option value='1'>1. Luke Skywalker</mat-option>
      <mat-option value='2'>2. C-3PO</mat-option>
      <mat-option value='3'>3. R2-D2</mat-option>
      <mat-option value='4'>4. Darth Vader</mat-option>
      <mat-option value='5'>5. Leia Organa</mat-option>
      <mat-option value='6'>6. Owen Lars</mat-option>
      <mat-option value='7'>7. Beru Whitesun lars</mat-option>
      <mat-option value='8'>8. R5-D4</mat-option>
      <mat-option value='9'>9. Biggs Darklighter</mat-option>
      <mat-option value='10'>10. Obi-Wan Kenobi</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Select a star wars character from above to begin</p>
  <!-- Next Steps -->
  <h2>SWAP API DATA</h2>

  <div class="container">

  <div *ngIf="posts" class="card-container">
  <div class="card">
      <p> Name: {{ posts.name }}  <br>
          Height: {{ posts.height }}  <br>
          Mass: {{ posts.mass }}  <br>
          Hair color: {{ posts.hairColor }}  <br>
          Skin Color: {{ posts.skinColor }}  <br>
          Gender: {{ posts.gender }}  <br>
          Birth Year: {{ posts.birthYear }}  <br>
  </div>
  </div>

  <div *ngIf="posts.homePlanet" class="card-container">
    <div class="card">
            Planet Name: {{ posts.homePlanet.title }}  <br>
            Planet Terrain: {{ posts.homePlanet.terrain }}  <br>
            Planet Population: {{ posts.homePlanet.population }}
    </div>
  </div>

  <div *ngFor="let specie of posts.species" class="card-container">
    <div class="card">
            Species Name: {{ specie.name }}  <br>
            Species Lifespan: {{ specie.average_lifespan }}  <br>
            Species Classifiction: {{ specie.classification }}  <br>
            Species Language: {{ specie.language }}
      </div>
  </div>
  </div>

  <div class="container">
  <div *ngFor="let film of posts.films" class="card-container">
    <div class="card" (click)="selection.value = 'component'" tabindex="0">
        Films Title: {{ film.title }} <br>
        Films Director: {{ film.director }}  <br>
        Films Producer: {{ film.producer }}  <br>
        Films Release Date: {{ film.release_date }} 
    </div>
  </div>

</div>

  <!-- Footer -->
  <footer>
      Created for RedSpace by Jefin George Jose&nbsp;
  </footer>
</div>

<router-outlet></router-outlet>