<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <h2>{{ title }}</h2>
  </div>

  <!-- Resources -->
  <mat-form-field>
    <mat-select  (selectionChange)="selectChangeHandler($event)" placeholder="Star Wars Characters">
      <mat-option value='1'>1. Luke Skywalker</mat-option>
      <mat-option value='2'>2. C-3PO</mat-option>
      <mat-option value='3'>3. R2-D2</mat-option>
      <mat-option value='4'>4. Darth Vader</mat-option>
      <mat-option value='5'>5. Leia Organa</mat-option>
      <mat-option value='6'>6. Owen Lars</mat-option>
      <mat-option value='7'>7. Beru Whitesun lars</mat-option>
      <mat-option value='8'>8. R5-D4</mat-option>
      <mat-option value='9'>9. Biggs Darklighter</mat-option>
      <mat-option value='10'>10. Obi-Wan Kenobi</mat-option>
    </mat-select>
  </mat-form-field>
  <p>Select a star wars character from above to begin</p>
  <!-- Next Steps -->
  <h2>SWAP API DATA</h2>

  <div class="container">

    <app-info></app-info>
    <app-planet></app-planet>
    <app-species></app-species>
  </div>

  <app-films></app-films>

  <!-- Footer -->
  <footer>
      Created for RedSpace by Jefin George Jose&nbsp;
  </footer>
</div>

<router-outlet></router-outlet>